<div class="container">
  <div class="row">
    <div class="col-md-12 aboutPage">
		 <div class="contactDe text-center shadowed">
			 <h3>Contact Detials <hr></h3>
			 <address class="lead">
			 	Plot 3379A, No. 20 Mungo Park Close, <br>Off Jesse Jackson/Gimbya Street <br>Asokoro/Area 11. <br>Abuja. Nigeria
			</address>
			<p>
			  <i class="fa fa-phone" style="color: green; font-size: 25px;"></i>&nbsp;&nbsp; <strong style="font-size: 19px;">+234 906 000 0536</strong> &nbsp; &nbsp;
			  <i class="fa fa-whatsapp" style="color: green; font-size: 25px;"></i>&nbsp;&nbsp; <strong style="font-size: 19px;">+234 906 182 5005</strong><br><br>
			  <i class="fa fa-envelope" style="color: red; font-size: 25px;"></i>&nbsp;&nbsp; <strong style="font-size: 19px;">contact@adp.ng</strong>
			</p>
			<ul class="social-icons">
				<li>
					<a href="https://twitter.com/adpng" target="_blank">
							  <span style="color: #0084b4;"><i class="fa fa-twitter"></i></span>
						 </a>
				</li>
				<li>
					<a href="https://plus.google.com/+adpnigeria" target="_blank">
							  <span style="color: #d34836;"><i class="fa fa-google-plus"></i></span>
						 </a>
				</li>
				<li>
					<a href="https://www.facebook.com/adpnigeria" target="_blank">
							  <span style="color: #3b5998;"><i class="fa fa-facebook"></i></span>
						 </a>
				</li>
				<li>
					<a href="https://www.youtube.com/adpnigeria" target="_blank">
							  <span style="color: #cd201f;"><i class="fa fa-youtube"></i></span>
						 </a>
				</li>
				<li>
					<a href="https://www.instagram.com/adpnigeria" target="_blank">
							  <span style="color: #8a3ab9"><i class="fa fa-instagram"></i></span>
						 </a>
				</li>
				<li>
					<a href="https://github.com/adpnigeria">
							  <span style="color:#333;"><i class="fa fa-github"></i></span>
						 </a>
				</li>
				<li>
					<a href="https://www.linkedin.com/adpnigeria">
							  <span style="color:#0077b5;"><i class="fa fa-linkedin"></i></span>
						 </a>
				</li>
				<!-- <li>
					<a href="/rss">
							  <span style="color:#f26522;"><i class="fa fa-rss"></i></span>
						 </a>
				</li> -->
			</ul>
		 </div>
		 <div class="contactCards">
		 	<h2>Zonal Office Address</h2>
			<!-- <div class="card-deck-wrapper">
			  <div class="card-deck">
			    <div class="card">
			      <img class="card-img-top" data-src="holder.js/100%x200/" alt="Card image cap">
			      <div class="card-block">
			        <h4 class="card-title">Card title</h4>
			        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			    <div class="card">
			      <img class="card-img-top" data-src="holder.js/100%x200/" alt="Card image cap">
			      <div class="card-block">
			        <h4 class="card-title">Card title</h4>
			        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			    <div class="card">
			      <img class="card-img-top" data-src="holder.js/100%x200/" alt="Card image cap">
			      <div class="card-block">
			        <h4 class="card-title">Card title</h4>
			        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			  </div>
			</div> -->
		 </div>
    </div>
  </div>
</div>
