<div class="wrapper">
	<div class="containers demo-1">
		<div id="slider" class="sl-slider-wrapper">

			<div class="sl-slider">

				<div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
					<div class="sl-slide-inner">
					</div>
				</div>

				<div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
					<div class="sl-slide-inner">
					</div>
				</div>

				<div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
					<div class="sl-slide-inner">
					</div>
				</div>

				<div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
					<div class="sl-slide-inner">
					</div>
				</div>
			</div>
			<!-- /sl-slider -->

			<nav id="nav-arrows" class="nav-arrows">
				<span class="nav-arrow-prev">Previous</span>
				<span class="nav-arrow-next">Next</span>
			</nav>

			<nav id="nav-dots" class="nav-dots">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</nav>

		</div>
		<!-- /slider-wrapper -->

	</div>
</div>
<div class="desSec">
	<div class="holdFIle">
		<h2 class="text-center">Mission</h2>
		<p class="lead text-center">
			A Secure, Stable and Egalitarian Nigeria where Democracy and Rule of Law Reign.
		</p>
	</div>
	<div class="holdFIle">
		<h2>Vision</h2>
		<p class="lead text-center">
			To provide Responsive leadership that is transparent and accountable to the people.
		</p>
	</div>
	<div class="holdFIle">
		<h2>Youth Destiny Group</h2>
		<p class="lead">
		  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Integer posuere erat a ante.
		</p>
	</div>
	<div class="holdFIle">
		<h2>#TheCredibleAlternative</h2>
		<p class="lead">
			Action Democratic Party<br> is The Credible Alternative <br>Do you have any idea how <br>Tell Us
		</p>
		<p class="lead">
			<strong> <i class="fa fa-phone"></i> +234 906 000 0536</strong>
		</p>
	</div>
	<div class="clearfix">&nbsp;</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
		 <hr class="featurette-divider">
		 <div class="clearfix">&nbsp;</div>
		  <!-- First Featurette -->
		  <div class="featurette" id="about">
			   <img class="featurette-image img-responsive pull-right" width="600" src="/images/nigeria.jpeg">
			   <h2>Action Democratic Party  <br>
					 <small class="text-muted">We Are Building a Better Future</small>
			   </h2>
			   <p class="lead">Nigeria must rise again and live up to the true meaning of  its creed. As the giant of Africa Nigeria must move beyond the current political quagmire of today.</p>
				<p>To reenergize the polity, rekindle hope for economic Great Leap Forward and trust in a peaceful, prosperous and strong nation, a giant mega new political party, The Action Democratic Party of Nigeria - ADP registered with INEC.</p>
		  </div>
		  <div class="clearfix">&nbsp;</div>
    </div>
  </div>
</div>
<div class="container-fluid endorse" id="endorse">
  <div class="row text-center">
	  <div class="col-xs-12 col-sm-6 col-md-4">
		  <p><strong>3,120,123</strong> <br>Registered Members</p>
	  </div>
	  <div class="col-xs-12 col-sm-6 col-md-4">
		  <p><strong>140 Cities</strong> <br>Campaign Train</p>
	  </div>
	  <div class="col-xs-12 col-sm-6 col-md-4">
		  <p><strong>Elected Officials</strong> <br>We are New!!!</p>
	  </div>
  </div>
</div>
