<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta itemprop="name" content="Content Title">
	<meta itemprop="description" content="Content description less than 200 characters">
	<meta itemprop="image" content="https://example.com/image.jpg">
	<meta name="twitter:card" content="ADPNigeria The Nigeria Mega Party">
	<meta name="twitter:site" content="@adpng">
	<meta name="twitter:creator" content="@inidaname">
	<meta name="twitter:url" content="http://www.adp.ng">
	<meta name="twitter:title" content="Action Democratic Party">
	<meta name="twitter:description" content="The true Opposition Party">
	<meta name="twitter:image" content="http://www.adp.ng/adplogo.jpg">
	<!-- More info: https://dev.twitter.com/cards/getting-started -->
	<!-- Validate: https://dev.twitter.com/docs/cards/validation/validator -->
	<meta property="fb:app_id" content="1331210830311306">
	<meta property="og:url" content="https://www.adp.ng/#/register/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Join ADP Today">
	<meta property="og:image" content="https://example.com/image.jpg">
	<meta property="og:description" content="ADP is here to #TBOC (Take Back Our Country) and #MNGA (Make Nigeria Great Again) Join Us today">
	<meta property="og:site_name" content="ADP Nigeria">
	<meta property="og:locale" content="en_US">
	<!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters#markup -->
	<!-- Open Graph: http://ogp.me/ -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ADP | {{title}}</title>
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Bootstrap -->
	<link href="https://plus.google.com/+adpnigeria" rel="publisher">
	<link href="https://fonts.googleapis.com/css?family=Oswald|Sansita|Archivo+Black" rel="stylesheet">
	<link rel="stylesheet" href="/components/intl-tel-input/build/css/intlTelInput.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/components/animate.css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css" />
	<link rel="stylesheet" href="/stylesheets/master.css">
	<script type="text/javascript" src="/javascripts/modernizr.custom.79639.js"></script>
	<noscript>
		 <link rel="stylesheet" type="text/css" href="/stylesheets/styleNoJS.css" />
	 </noscript>
	 <script src="/components/jquery/dist/jquery.js"></script>
	 <script type="text/javascript">
		 window.addEventListener('load', function() {
			  new FastClick(document.body);
		 }, false);
	 </script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	 <![endif]-->
</head>
  <body>
	  <script>
		 window.fbAsyncInit = function() {
			FB.init({
			  appId      : '1331210830311306',
			  xfbml      : true,
			  version    : 'v2.10'
			});
			FB.AppEvents.logPageView();
		 };

		 (function(d, s, id){
			 var js, fjs = d.getElementsByTagName(s)[0];
			 if (d.getElementById(id)) {return;}
			 js = d.createElement(s); js.id = id;
			 js.src = "//connect.facebook.net/en_US/sdk.js";
			 fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));
	  </script>
	  <div id="sideDa" class="sideDa">
		  <a href="/register/"><span>Register</span></a>
		  <span>Donate</span>
	  </div>
	  <header>
		  <div class="logo">
			  <a href="/"><img id="logo" src="/images/adplogo.jpg" alt="ADP Nigeria" /></a>
			  <span class="slogan" id="slogan"><var>ADP</var> <var>One Destiny</var> <var>Action Forward</var></span>
		  </div>
		  <nav id="navigation">
			  <!-- <i class="fa fa-home" id="menu"></i> -->
			  <span class="glyphicon glyphicon-menu-hamburger" id="menu" aria-hidden="true"></span>
			  <!-- <img src="images/menu.png" alt=""> -->
			  <ul>
				  <li>
					  <a href="/">
						  <div class="menulist">
							  Home
						  </div>
					  </a>
				  </li>
				  <li>
					  <a href="/about/">
						  <div class="menulist">
							  About The Party
						  </div>
					  </a>
				  </li>
				  <li>
					  <a href="/structure/">
						  <div class="menulist">
							  Party Structure
						  </div>
					  </a>
				  </li>
				  <li>
					  <a href="/register/">
						  <div class="menulist">
							  Membership
						  </div>
					  </a>
				  </li>
				  <li>
					  <a href="/blogs/">
						  <div class="menulist">
							  News & Events
						  </div>
					  </a>
				  </li>
				  <li>
					  <a href="/contact/">
						  <div class="menulist">
							  Contact Us
						  </div>
					  </a>
				  </li>
			  </ul>
		  </nav>
	  </header>
<!-- Body starts here -->
    {{{body}}}
<!-- Body ends here -->
	 <footer>
		 <section>
			 <h3>National Secretariat</h3>
			 <p>
				 No 20 Plot 3379A, Mungo Park Close, Off Jesse Jackson/Gimbiya Street, Area 11/Asokoro, Abuja. <br>Nigeria <br><i class="fa fa-whatsapp" style="color: #075e54; font-weight: bold; font-size: 27px;"></i> &nbsp;<strong>+2340961825005</strong>
			 </p>

			 <ul class="social-icons">
				 <li>
					 <a href="https://twitter.com/adpng" target="_blank">
							   <span style="color: #0084b4;"><i class="fa fa-twitter"></i></span>
						  </a>
				 </li>
				 <li>
					 <a href="https://plus.google.com/+adpnigeria" target="_blank">
							   <span style="color: #d34836;"><i class="fa fa-google-plus"></i></span>
						  </a>
				 </li>
				 <li>
					 <a href="https://www.facebook.com/adpnigeria" target="_blank">
							   <span style="color: #3b5998;"><i class="fa fa-facebook"></i></span>
						  </a>
				 </li>
				 <li>
					 <a href="https://www.youtube.com/adpnigeria" target="_blank">
							   <span style="color: #cd201f;"><i class="fa fa-youtube"></i></span>
						  </a>
				 </li>
				 <li>
					 <a href="https://www.instagram.com/adpnigeria" target="_blank">
							   <span style="color: #8a3ab9"><i class="fa fa-instagram"></i></span>
						  </a>
				 </li>
				 <li>
					 <a href="https://github.com/adpnigeria">
							   <span style="color:#333;"><i class="fa fa-github"></i></span>
						  </a>
				 </li>
				 <li>
					 <a href="https://www.linkedin.com/adpnigeria">
							   <span style="color:#0077b5;"><i class="fa fa-linkedin"></i></span>
						  </a>
				 </li>
				 <!-- <li>
					 <a href="/rss">
							   <span style="color:#f26522;"><i class="fa fa-rss"></i></span>
						  </a>
				 </li> -->
			 </ul>
		 </section>
		 <section>
			 <ul>
				 <li>About The Party</li>
				 <li>The Manifestor</li>
				 <li>The Constitution</li>
				 <li>Members</li>
			 </ul>
		 </section>
		 <section class="logoSide">
			 <img src="/images/adplogo.jpg" alt="" />
			 <p>
				 <span>One</span> <span>Destiny... Action</span> <span>Forward...</span>
			 </p>
		 </section>
		 <div class="clearfix">...</div>
		 <div class="copyright col-md-12">
			 &copy; Copyright 2017 <strong>Action Democratic Party</strong>, Designed and Managed by All Hands Concept.
		 </div>
	 </footer>
	 <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
	 <script src="/components/bootstrap/dist/js/fileInput.js"></script>
	 <script src="/components/jsesc/src/jsesc.js"></script>
	 <script src="/components/watermarkjs/dist/watermark.min.js"></script>
	 <script type="text/javascript" src="/components/moment/moment.js"></script>
	 <script type="text/javascript" src="/components/cleave.js/dist/cleave.js"></script>
	 <script type="text/javascript" src="/components/cleave.js/dist/addons/cleave-phone.ng.js"></script>
	 <script type="text/javascript" src="/components/intl-tel-input/build/js/intlTelInput.min.js"></script>
	 <script type="text/javascript" src="/components/bootpag/lib/jquery.bootpag.js"></script>
	 <script src="/components/fastclick/lib/fastclick.js"></script>
	 <script src="/javascripts/qrcode.min.js"></script>
	 <script src="/javascripts/rasterizeHTML.allinone.js"></script>
	 <script type="text/javascript" src="/components/slick/dist/slick.min.js"></script>
	 <script type="text/javascript" src="/javascripts/jquery.ba-cond.min.js"></script>
	 <script type="text/javascript" src="/javascripts/jquery.slitslider.js"></script>
	 <script type="text/javascript" src="/javascripts/main.js"></script>
	 <script src="/javascripts/script.js"></script>
  </body>
</html>
