<div class="container">
	<div class="row">
		<div class="col-md-12 aboutPage">
			<div class="headedHold">
				<div id="headed1" class="headIn">
					<div class="col-md-4 pull-left">
						<figure class="figure img-rounded shadowed">
							<img data-src="images/natChair.jpg" class="img-circle" alt="National Chairman">
							<figcaption class="figure-caption text-center"><strong>Engr. Yabagi Y. Sani (Jakada Nupe)</strong> <br>The Chairman of the Foundation Council</figcaption>
						</figure>
					</div>
					<div class="col-md-7">
						<h3>The Chairmen Foundation Council <small>All you need to know</small></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
							dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div id="headed2" class="headOut">
						<div class="col-md-4 pull-left">
							<figure class="figure img-rounded shadowed">
								<img data-src="images/natChair.jpg" class="img-circle" alt="National Chairman">
								<figcaption class="figure-caption text-center"><strong>Chief Alani Bankole</strong> <br>The Chairman Board of Trustees</figcaption>
							</figure>
						</div>
						<div class="col-md-7">
							<h3>The Chairman Board of Trustees <small>All you need to know</small></h3>
							<p>The ADP Board of Trustees (BoT ) is a constitutionally mandated body within the Action
Democratic Party of Nigeria that provides advice and counsel to the leadership of the National Working Committee and staff. It is regarded by the party's constitution as the conscience of the party.  							</div>
						</div>
						<div id="headed3" class="headOut">
							<div class="col-md-4 pull-left">
								<figure class="figure img-rounded shadowed">
									<img data-src="images/natChair.jpg" class="img-circle" alt="National Chairman">
									<figcaption class="figure-caption text-center"><strong>Engr. Yabagi Y. Sani (Jakada Nupe)</strong> <br>The National Chairman of the ADP</figcaption>
								</figure>
							</div>
							<div class="col-md-7">
								<h3>The National Chairman <small>All you need to know</small></h3>
								<p>The role of a party chairman/chairperson is often quite different from that of a party leader. The duties of the chairman/chairperson are typically concerned with the party membership as a whole, and the activities of the party organization.
Chairman/chairperson often play important roles in strategies to recruit and retain members, in campaign fundraising , and in internal party governance, where they may serve as a member of, or even preside over, a governing board or council. They often also have influence in candidate selections, and sometimes in the development and promulgation of party policy.</p>
								</div>
							</div>
							<div id="headed4" class="headOut">
								<div class="col-md-4 pull-left">
									<figure class="figure img-rounded shadowed">
										<img data-src="images/natChair.jpg" class="img-circle" alt="National Chairman">
										<figcaption class="figure-caption text-center"><strong>Engr. Yabagi Y. Sani (Jakada Nupe)</strong> <br>The National Chairman of the ADP</figcaption>
									</figure>
								</div>
								<div class="col-md-7">
									<h3>The National Chairman <small>All you need to know</small></h3>
									<p>The ADP National Working Committee, also known by its acronym NWC , is the executive committee of the Action Democratic Party in Nigeria.The NWC is composed of
									12 members, all of whom are elected to a four-year term at the party's National Convention. The NWC is headed by the Chairman who also functions as the party's National Chairman. The NWC has the responsibility for the day-to-day governance of the party as well as oversight of its national activities.</p>
									</div>
								</div>
								<div id="headed5" class="headOut">
									<div class="col-md-4 pull-left">
										<figure class="figure img-rounded shadowed">
											<img data-src="images/natChair.jpg" class="img-circle" alt="National Chairman">
											<figcaption class="figure-caption text-center"><strong>Engr. Yabagi Y. Sani (Jakada Nupe)</strong> <br>The National Chairman of the ADP</figcaption>
										</figure>
									</div>
									<div class="col-md-7">
										<h3>The Chairman of the State Chairmen <small>All you need to know</small></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
											dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										</div>
									</div>
									<div id="headed6" class="headOut">
										<div class="col-md-4 pull-left">
											<figure class="figure img-rounded shadowed">
												<img data-src="images/natChair.jpg" class="img-circle" alt="National Chairman">
												<figcaption class="figure-caption text-center"><strong>Engr. Yabagi Y. Sani (Jakada Nupe)</strong> <br>The National Chairman of the ADP</figcaption>
											</figure>
										</div>
										<div class="col-md-7">
											<h3>The National Chairman <small>All you need to know</small></h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
												dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</div>
										</div>
			</div>
			<div class="clearfix">&nbsp;</div>
			<hr>
			<div class="col-md-12 mainStr">
				<nav class="col-md-3">
					<ul id="strCon">
					</ul>
				</nav>
				<div class="col-md-9 holdTabs">
					<div id="tabsCon1" class="tabsConIn">
						<h2 class="text-center">Foundation Council</h2>
						<div id="foundCon"></div>
					</div>
					<div id="tabsCon2" class="tabsConOut">
						<h2>Board of Trustee Members</h2>
						<div id="boardTru"></div>

					</div>
					<div id="tabsCon3" class="tabsConOut">
						<h2>National Executive Council</h2>
						<div id="NatExc"></div>
					</div>
					<div id="tabsCon4" class="tabsConOut">
						<h2>National Working Committee</h2>
						<div id="NatWok"></div>

					</div>
					<div id="tabsCon5" class="tabsConOut">
						<h2>State Chairmem</h2>
						<div id="StateChairman"></div>

					</div>
					<div id="tabsCon6" class="tabsConOut">
						<h2>Other Standing Committee</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					</div>
				</div>
				<div class="clearfix" style="clear: both;">&nbsp;</div>
				<!-- <h2>The National Working Committee (NWC)</h2>
		   <div class="card" data-toggle="modal" data-target="#modal-1"><img src="" class="img-rounded" alt="" style="width:100%; height: 170px;"><div class="container"><h5><b></b></h5><p></p><p>Read More</p></div></div> -->
			</div>
		</div>
		<div class="clearfix" style="clear: both;">&nbsp;</div>
	</div>
</div>
<script src="/javascripts/structure.js" charset="utf-8"></script>
